P{
    font-size: 72px;
    font-weight: bolder;
    margin-top: 50px;
    margin: 0%;
    padding: 0%;
    margin-right: 10px;
    text-align: center;
    background-color: rgb(166, 246, 246);
    color: rgb(39, 32, 32);
    height: 500px;
}